<div class="mt-3">
  <%= simple_form_for(office) do |f| %>
    <%= f.input :name %>
    <%= f.input :location %>
    <%= f.input :description %>
    <%= f.input :capacity %>
    <%= f.input :dayrate %>
    <%= f.submit class: 'btn btn-primary' %>
  <% end %>
</div>
