<!-- views/offices/_office.html.erb -->
<div class="col-xs-12 col-sm-4">
  <div class="card">
    <div class="card-category">
      <p><%= office.name %></p>
      <% unless office.avg_rating == 0 %>
        <%= render 'shared/rating', office: office %>
      <% end %>
    </div>
    <div class="card-description">
      <h3><%= office.dayrate %> €</h3>
      <p>
        <%= office.location %> |
        <%= office.capacity %> <i class="fas fa-user-friends"></i>
      </p>
    </div>
    <%= image_tag office.user.avatar.url, class: "card-user" %>
    <%= link_to '', office_path(office), class: 'card-link' %>
  </div>
</div>


