<!-- views/offices/_office.html.erb -->
<div class="col-xs-12 col-sm-4">
  <div class="card">
    <div class="card-category">
      <p>
        <%= office.name %>
        <!-- Make these links accessible, currently whole card will refirect to show -->
        <% if policy(office).edit? %>
          <%= link_to edit_office_path(office) do %>
            <i class="fas fa-pencil-alt"></i>
          <% end %>
        <% end %>

        <% if policy(office).destroy? %>
          <%= link_to office_path(office),
                      method: :delete,
                      data: { confirm: "Are you sure?" } do %>
                        <i class="far fa-trash-alt"></i>
                      <% end %>
        <% end %>
      </p>
      <% unless office.avg_rating == 0 %>
        <%= render 'shared/rating', office: office %>
      <% end %>
    </div>
    <div class="card-description">
      <h3><%= office.dayrate %> €</h3>
      <p>
        <%= office.location %> |
        <%= office.capacity %> <i class="fas fa-user-friends"></i>
      </p>
    </div>
    <%= image_tag office.user.avatar.url, class: "card-user" %>
    <%= link_to '', office_path(office), class: 'card-link' %>
  </div>
</div>


