<!-- views/offices/_office.html.erb -->
<div class="col-xs-12 col-sm-4">
  <div class="card">
    <div class="card-description">
      <h3><%= office.name %></h3>
      <p><%= office.location %></p>
      <p><%= office.capacity %></p>
      <p><%= office.dayrate %></p>
    </div>
    <%= link_to '', office_path(office), class: 'card-link' %>
  </div>
</div>


