<!-- app/views/offices/show.html.erb -->
<div class="office" style="background-image: url(<%= cl_image_path @office.office_attachments.first.attachment.url unless @office.office_attachments.empty? %>)"></div>
<div class="container margin-top-negative">
  <div class="row">
    <div class="office-show-info col-xs-12 col-sm-8">
      <div class="office-show-card office-show-name">
        <h2>
          <%= @office.name %>
          <% if policy(@office).edit? %>
            <%= link_to edit_office_path(@office) do %>
              <i class="fas fa-pencil-alt icon"></i>
            <% end %>
          <% end %>
          <% if policy(@office).destroy? %>
            <%= link_to office_path(@office),
                        method: :delete,
                        data: { confirm: "Are you sure?" } do %>
              <i class="far fa-trash-alt icon"></i>
            <% end %>
          <% end %>
          <%= link_to offices_path do %>
              <i class="fas fa-undo-alt icon"></i>
            <% end %>
        </h2>
      </div>
      <div class="office-show-card office-details">
        <h3>Office details:</h3>
        <div class="user-avatar">
          <%= image_tag @office.user.avatar.url, width: 80, class: "img-circle" %>
        </div>
        <p id="dayrate"><%= @office.dayrate %> € / day</p>
        <p><%= @office.city %> - <%= @office.capacity %> <i class="fas fa-user-friends"></i></p>
        <p>
          Average rating:
          <% if @office.avg_rating == 0 %>
            <span class="no-rating">This office hasn't been rated yet!</span>
          <% elsif %>
            <%= render 'shared/rating', office: @office %>
          <% end %>
        </p>
        <p><%= @office.description %></p>
      </div>
      <div class="office-show-card">
        <h3>Reviews:</h3>
        <div>
          <ul class="list-unstyled">
            <%= render @reviews %>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <% unless @office.user == current_user %>
        <div class="office-show-card">
          <h3>Book this Office</h3>
          <%= render 'bookings/form_booking', office: @office, booking: @booking %>
        </div>
      <% end %>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="office-show-card">
        <p id="notice"><%= notice %></p>
        <h3>Gallery:</h3>
            <% @office_attachments.each do |p| %>
          <div class="offices-pictures">
            <%= image_tag p.attachment_url %>
            <p><%= link_to "Edit Attachment", edit_office_office_attachment_path(@office, p) %></p>
            <% end %>
          </div>
      </div>
    </div>
  </div>
</div>
