<!-- app/views/offices/show.html.erb -->
<div class="office" style="background-image: url(<%= cl_image_path @office.main.attachment.url unless @office.office_attachments.empty? %>)"></div>

<!--  -->

<div class="container margin-top-negative">
  <div class="row">
    <div class="office-show-info col-xs-12 col-sm-8">
      <div class="office-show-card office-show-name">
        <h2>
          <%= @office.name %>

          <!-- links to edit delete office if you host it -->
          <% if policy(@office).edit? %>
          <%= link_to edit_office_path(@office) do %>
          <i class="fas fa-pencil-alt icon"></i>
          <% end %>
          <% end %>
          <% if policy(@office).destroy? %>
          <%= link_to office_path(@office),
          method: :delete,
          data: { confirm: "Are you sure?" } do %>
          <i class="far fa-trash-alt icon"></i>
          <% end %>
          <% end %>
          <%= link_to offices_path do %>
          <i class="fas fa-undo-alt icon"></i>
          <% end %>
        </h2>
      </div>
      <div class="office-show-card office-details">
        <h3>Office details:</h3>
        <div class="user-avatar">
          <%= image_tag @office.user.avatar.url, width: 80, class: "img-circle" %>
        </div>
        <!-- need this hidden for the javascript pricing -->
        <p id="dayrate"><%= @office.dayrate %></p>
        <p class="dayrate"><%= @office.format_dayrate %> € / day</p>
        <p><%= "#{@office.address} - #{@office.capacity}" %> <i class="fas fa-user-friends"></i></p>
        <p>
          Average rating:
          <% if @office.avg_rating == 0 %>
          <span class="no-rating">This office hasn't been rated yet!</span>
          <% elsif %>
          <%= render 'shared/rating', office: @office %>
          <% end %>
        </p>
        <p><%= @office.description %></p>
      </div>

      <div class="office-show-card gallery">
        <h3>Gallery:
          <!-- links to add office attachments -->
          <% if current_user == @office.user %>
            <% if policy(@office).create? %>
              <%= link_to new_office_office_attachment_path(@office) do %>
                <i class="fas fa-plus"></i>
              <% end %>
            <% end %>
          <% end %>
        </h3>
        <div class="offices-picture">
          <div class="row">

            <% @office_attachments.each do |office_attachment| %>
              <div class="col-xs-6 col-sm-4">
                <%= cl_image_tag office_attachment.attachment %>

                <% if current_user == @office.user %>
                  <ul class="list-inline">
                    <li>
                      <%= link_to edit_office_office_attachment_path(office_attachment.office, office_attachment) do %>
                        <i class="fas fa-pencil-alt"></i>
                      <% end %>
                    </li>

                    <li>
                      <%= link_to office_office_attachment_path(office_attachment.office, office_attachment),
                        method: :delete,
                        data: { confirm: "Are you sure?" } do %>
                          <i class="far fa-trash-alt"></i>
                      <% end %>
                    </li>

                    <li>
                      <%= link_to 'Make background', office_office_attachment_background_path(office_attachment.office, office_attachment) %>
                    </li>
                  </ul>
                <% end %>

              </div>
            <% end %>

          </div>
        </div>
      </div>

      <div class="office-show-card">
        <h3>Reviews:</h3>
        <div>
          <ul class="list-unstyled">
            <%= render @reviews %>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <% unless @office.user == current_user %>
        <div class="office-show-card">
          <h3>Book this Office</h3>
          <%= render 'bookings/form_booking', office: @office, booking: @booking %>
        </div>
      <% end %>

      <div class="office-show-card">
        <div
          id="map"
          style="width: 100%;
          height: 400px;"
          data-markers="<%= @markers.to_json %>"
          data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
          >

        </div>
      </div>
    </div>

  </div>
</div>
</div>
