<!-- _form_office_attachment.html.erb -->
<%= image_tag @office_attachment.attachment %>
<%= simple_form_for(@office_attachment) do |f| %>
  <%= f.input :attachment, as: :file %>
  <%= f.submit class: 'btn btn-primary' %>
<% end %>

<%= image_tag @post_attachment.avatar %>
<%= form_for(@post_attachment) do |f| %>
  <div class="field">
    <%= f.label :avatar %><br>
    <%= f.file_field :avatar %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
