<!-- views/bookings/_booking.html.erb -->
<div class="col-xs-12 col-sm-4" data-booking-id="<%= booking.id %>">
  <div class="cardbooking">

    <div class="cardbooking-pictures" style="background-image: linear-gradient(-225deg, rgba(120,97,97,0.5) 0%, rgba(155,197,193,0.2) 50%), url(<%= cl_image_path booking.office.main.attachment.url unless booking.office.office_attachments.empty? %>)">
      <h4><%= booking.office.name %></h4>
    </div>

    <div class="cardbooking-description">
      <div class="card-info">
        <h3>
          <%= booking.format_price %> €
          <%= render 'bookings/links', booking: booking, type: 'edit' %>
          <%= render 'bookings/links', booking: booking, type: 'destroy' %>
        </h3>
        <p>
          <%= booking.office.city %>
          - for <%= (booking.end_date - booking.start_date).to_i %> Days
        </p>
      </div>
      <div class="cardbooking-user">
        <%= image_tag booking.office.user.avatar.url, class: "card-user" %>
      </div>
      <div class="dates-info">
        <p>From: <%= booking.start_date.strftime("%a, %-d %b %Y") %>
         - To: <%= booking.end_date.strftime("%a, %-d %b %Y") %></p>
      </div>
      <div class="booking-review" id="booking-review-<%= booking.id %>">
        <h5>
          Review:
          <%= render 'offices/links', type: 'show', office: booking.office %>
        </h5>
            <!-- <span id="reviews-<%= booking.id %>"> -->
          <% if booking.review %>
            <%= render 'reviews/review', review: booking.review %>
          <% elsif %>
              <%= render 'reviews/links', type: 'new', booking: booking %>
          <% end %>
            <!-- </span> -->
      </div>

    </div>
  </div>
</div>
