<!-- _form_review.html.erb -->
<%= simple_form_for [office, booking, review] do |f| %>
  <%= f.input :content, label: 'Review' %>
  <%= f.collection_radio_buttons :rating, [[0, 'Very Bad'] ,[1, 'Really?'], [2, 'Meh'], [3, 'OK'] ,[4, 'Great'], [5, 'Amazing']],
                               :first, :last, { item_wrapper_tag: true } do |b| %>
      <%= b.radio_button + b.label(:class => "radio_inline icon-star") %>
    <span></span>
  <% end %>
  <%= f.submit class: "btn btn-default" %>
<% end %>
