<!-- views/components/_review.html.erb -->
<div class="review">
  <% unless current_page?(dashboard_path) %>
    <div class="review-created-at">
      <%= cl_image_tag review.booking.user.avatar.url, class: "img-circle", width: 40 %>
      <p></p>
    </div>
  <% end %>
  <div class="review-rating">
    <%= render 'shared/rating', rating: review.rating %>
    <span><%= review.created_at.strftime("%a, %-d %b %Y (at %-I:%M%P)") %></span>
    <%= render 'reviews/links', review: review, type: 'edit' %>
    <%= render 'reviews/links', review: review, type: 'destroy' %>
  </div>
  <div class="review-body">
    <p><%= review.content %></p>
  </div>
</div>
