<!-- views/reviews/_form_review.html.erb -->
<div class="container padding-top-50">
  <div class="new">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="office-show-card">
          <h1>New Review</h1>
          <%= simple_form_for [@office, @booking, @review] do |f| %>
            <%= f.input :content, label: 'Review' %>
            <%= f.input :rating, collection: 0..5 %>
            <%= f.submit 'Add', class: "btn btn-default" %>
          <% end %>
          <%= link_to 'Back', dashboard_path %>
        </div>
      </div>
    </div>
  </div>
</div>
