<!-- views/reviews/_form_review.html.erb -->
<div class="container padding-top-30">
  <div class="new">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-sm-offset-3">
        <div class="office-show-card">
          <h1>New Review
            <%= link_to dashboard_path do %>
              <i class="fas fa-undo-alt"></i>
            <% end %>
          </h1>
          <%= simple_form_for [@office, @booking, @review] do |f| %>
            <%= f.input :content, label: 'Review' %>
            <%= f.input :rating, collection: 0..5 %>
            <%= f.submit 'Add', class: "btn btn-default" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
